body {
    background-color: #2643b2; /*The body of the site, which would be the complete background */
}

#container { /* Beginning of the styling for the site container */
    font-family: Helvetica, Arial, sans-serif;/* My chosen main font and a back up font just in case the main font isn't compatible  */
    width: 960px;
    background-image: url("../images/Logo_03.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f1f4ff;
    margin: auto;
    overflow: hidden;
    border: outset;
}
h1, h2, h3 { /* Styling for the main headers across the pages */
    font-family: Baskerville, Helvetica, Arial, sans-serif; /* My chosen font for my headers and a back up font just in case it is not compatible */
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
}
[type=button] { /* styling for the buttons across the pages */
    border: 1px solid #a1b5ff;
    background: linear-gradient(#bac9ff, #2643b2);
    border-radius: 8px;
    color: #ffd55d;
    font-size: 14px;
}
[type=button]:hover { /* A hover state for the buttons */
    background: linear-gradient(#2643b2, #bac9ff);
    border: 2px solid #a1b5ff;
    cursor: pointer;
}
input {
    border: inset;
}                    /* Styling for the inputs across the pages */
input:hover {
    border: inset #bac9ff;
}
a:hover {
    color: #b28d22;
}                   /* styling for the links across the pages. With a hover and active state */
a:active {
    color: #d12eff;
}
.left {            /* The styling for the left mini logo */
    float: left;
    margin-top: 10px;
}
#right {           /* Styling for the right mini logo */
    float: left;
    clear: right;
    margin-left: 75px;
    margin-top: 10px;
}
#dashboardButton {  /* Styling for the dashboard button to place it next to the sign out button */
    float: left;
    clear: right;
    margin-left: 10px;
    margin-top: 10px;
}
#signOut { /* Sign out button styling */
    float: left;
    clear: right;
    margin-left: 100px;
    margin-top: 10px;
}
#signOutButton {  /* needed to update the position of the one sign out button to fit in my header */
    float: left;
    clear: right;
    margin-left: 10px;
    margin-top: 10px;
}
header { /* Styling for the header over the pages */
    clear: both;
    overflow: hidden;
    background-color: rgba(161, 181, 255, .4);
}
footer {  /* Styling for the header over the pages */
    margin-top: 40px;
    clear: both;
    overflow: hidden;
    background-color: rgba(161, 181, 255, .4);
}

#main {
    clear: both;
}
footer ul, header ul { /* styling for the list items in the header and footer */
    margin-left: 30px;
    margin-top: 35px;
    text-align: center;
    float: left;
    clear: right;
}
footer ul li, header ul li {  /* Changing the unordered list into an inline list so that it is linear */
    display: inline-block;

}
footer a, header a {
    padding: 10px 50px;
}
header .proLink {
    padding: 10px 48px;
}
/*Begin Tool Tip styling*/

.tooltip {             /* This is the tooltip class to be called when a user hovers over an input field */
    display: none;
    position: absolute;
    border: 1px solid #bac9ff;
    background-color: #2643b2;
    border-radius: 10px;
    padding: 10px;
    color: #bac9ff;
}

/*End Tooltip styling*/
/*Welcome page styling*/

#main {
    width: 900px;
    border-bottom: 1px solid #b28d22;
    margin: 20px 30px;
}
#main h1, #main p {
    padding: 5px;
}
#expandableMenu {
    width: 600px;
    height: 220px;
    margin: 10px 10px 40px 10px;
    float: left;
    background-color: rgba(255, 213, 93, .4);
}
#expandableMenu ul li {
    display: inline-block;
    padding-left: 30px;      /* These lines are to style my tabbed box, li, p and ul. */
}
#expandableMenu ul {
    margin-left: -50px;
}
#tab-box {
    width: 600px;
    border-top: 1px solid #b28d22;
}
#tab-box p {
    margin-left: 6px;
}
#sidebar {
    width: 300px;
    margin: 10px 10px 20px 10px;
    float: left;
    clear: right;
    box-shadow: 5px 5px 2px #bac9ff;
    background-color: rgba(186, 201, 255, .2);
}
#sidebar h3 {
    text-align: center;
}
#sidebar p {
    padding-left: 5px;
}
#sidebar ul {
    list-style-image: url("../images/App_Logo_03.png");  /* These few lines are to style the sidebar where I have links and space for an ad. */
}
#sidebar ul li {
    margin-top: 8px;
}
#adSpace {
    width: 125px;
    height: 125px;
    border: inset;
    margin: 20px 87px;
    background-color: #f1f4ff;
}
#adSpace p {
    text-align: center;
}

#gallery {
    width: 960px;
    clear: both;
    margin: 20px 0;      /* My gallery */
    padding-left: 6px;
    border-top: 1px solid #b28d22;
}

.image {
    width: 125px;
    height: 125px;
    box-shadow: 5px 5px 3px #bac9ff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;    /* These two image and image:hover are to help the image increase in size when hovered over. */
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.image:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
#gallery ul li {
    display: inline-block;
    margin: 5px;
}
#gallery h2 {
    text-align: center;
}
#gallery ul {
    margin: 15px;
}
#upload, #edit, .projects, #submit, #enter {
    float: right;
    margin: 10px;
}
/*End Welcome Page styling*/

/*Begin Sign Up form styling*/
#signUpForm {
    width: 400px;
    background-color: rgba(255, 213, 93, .6); /* Styling for the form */
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    border: outset;
    float: left;
}
input {
    margin-bottom: 15px;
}
#signUp h3 {
    margin: 10px 0;
    text-align: center;
}
#logo {
    float: left;
    clear: right;
    margin-left: 40px;

}
/*End Sign Up form styling*/

/*Begin Log In page styling*/

#mainHeader {
    width: 960px;
    text-align: center;
}                      /* Styling for the Vault header. Changed the font size of the header to make it larger than the other headers so it would stand out */
#mainHeader h1 {
    font-size: 48px;
}
#login {
    overflow: hidden;
}
#logInForm {
    float: left;
    clear: right;
    width: 300px;
    background-color: rgba(255, 213, 93, .5);   /* Styling for my the log in form */
    /*border: 1px solid #2643b2;*/
    margin: 10px 10px 40px 10px;

}
#login h3 {
    margin-bottom: 10px;
    text-align: center;      /* Aligning the text to the center */
}
#login label, #login input {
    margin-left: 5px;
}
#joinNow {
    width: 600px;
    border: 1px solid #b28d22;
    margin: 10px 10px;
    background-color: #ffd55d;   /* Styling for the join now box */
    overflow: hidden;
    float: left;
    box-shadow: 5px 5px 3px #bac9ff;
}
#joinNow p {
    padding-left: 7px;
}
#joinNow h2 {
    text-align: center;
}
#cta-signUp {
    padding: 5px;
    font-size: 1.5em;     /* Styling for the cta button to make it stand out and be easy to find */
    float: right;
    margin: 25px 10px 15px 10px;
}
#content {
    width: 900px;
    margin: 10px auto;
    overflow: hidden;      /* The main content describing the site. The next few lines style each of the divs for each of the topics. */
}
#content h1, #content p {
    text-align: center;
}
#optionOne, #optionTwo, #optionThree, #whyWait {
    width: 400px;
    margin: 38px;                                     /* These next three style the text and give size and margin to them */
}
#optionOne h3, #optionTwo h3, #optionThree h3, #whyWait h3 {
    text-align: center;
}
#optionOne p, #optionTwo p, #optionThree p, #whyWait p {
    text-indent: 7px;
}
#optionOne, #optionThree {
    float: left;
}
#optionTwo, #whyWait {
    float: left;
    clear: right;
}
/*End log in page styling*/

/*Styling for the projects page*/
table {
    width: 960px;     /* Styles my table*/
    border: 1px solid #b28d22;
    margin: 20px 0;
    background-color: rgba(161, 181, 255, .6);
}
table th {
    padding: 5px 50px;
    border-bottom: 1px solid #b28d22;
    background-color: rgba(38, 67, 178, .6);
    color: #ffffff;
}

td {
    padding-left: 25px;
    border-bottom: 1px solid #b28d22;
    color: #2643b2;
}
.tableImage {
    padding-left: 5px;
}
#myTable .proImages {
    padding-right: 15px;
}
.even {
    background-color: rgba(38, 67, 178, .2);
}                                               /* These two give the alternating row colors */
.odd {
    background-color: rgba(161, 181, 255, .2);
}
.rowHighlight {
    background-color: #ffd55d;   /* This gives a highlight when a row in the table is hovered over. */
}
.edit {
    float: left;
    margin-top: 10px;
}
.delete {
    float: left;         /* These help style and place the action buttons inside the table. */
    clear: left;
}
.view {
    float: left;
    clear: both;
}


/*End styling for the project page*/
/*begin Modal window styling*/

#overlay {             /* overlay styling */
    width: 100%;
    height: 100%;
    background-color: rgba(178, 141, 34, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
#modal {          /* Modal window styling */
    width: 330px;
    background-color: #ffd55d;
    box-shadow: 10px 10px 4px #b28d22;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 1001;
    display: none;
}
#modal .header {   /* Styling for the header of the modal window. */
    background-color: #2643b2;
    color: #ffd55d;
    padding: 10px;
}
#modal p {
    margin: 15px;
}
#modal .close {   /* Styles the close button on the modal window. */
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 24px;
    border: 1px solid #ffd55d;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #bac9ff;
}
form {
    padding: 10px;
}
form.input {
    padding: 10px;    /* Styling for the form in the modal window. */
}
.myStatus > input[type=radio] {
    display: none;
}
input[type=radio] + img {
    cursor: pointer;
    border: 2px solid transparent;
}
input[type=radio]:checked + img {
    border: 2px solid #2643b2;
}
/*End Modal window styling*/